USE [SYMPHONY_HRJ]
GO
/****** Object:  Table [dbo].[BULKACT]    Script Date: 4/18/2024 3:55:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BULKACT](
	[RAWDATA] [varchar](8000) NULL
) ON [PRIMARY]
GO
