USE [SYMPHONY_HRJ]
GO
/****** Object:  Table [dbo].[Client_temp_Calendar_1]    Script Date: 4/18/2024 3:55:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_temp_Calendar_1](
	[DAYY] [nvarchar](100) NULL,
	[DAYY_1] [int] NULL,
	[STORE] [nvarchar](100) NULL
) ON [PRIMARY]
GO
