USE [SYMPHONY_HRJ]
GO
/****** Object:  Table [dbo].[CAmonths]    Script Date: 4/18/2024 3:55:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAmonths](
	[month] [char](4) NULL,
	[monthname] [char](5) NULL
) ON [PRIMARY]
GO
