USE [SYMPHONY_HRJ]
GO
/****** Object:  Table [dbo].[SFtempTable]    Script Date: 4/18/2024 3:55:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SFtempTable](
	[stockLocationID] [int] NULL,
	[familyID] [int] NULL
) ON [PRIMARY]
GO
