USE [SYMPHONY_HRJ]
GO
/****** Object:  Table [dbo].[ALLFILENAMES]    Script Date: 4/18/2024 3:55:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLFILENAMES](
	[WHICHPATH] [varchar](255) NULL,
	[WHICHFILE] [varchar](255) NULL
) ON [PRIMARY]
GO
